@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.clearfix::after , .container::after{ content: ''; display: block; clear: both;}

body{ font-family: 'Noto Sans KR', sans-serif;}

.container{ width: 1200px; margin: 0 auto; position: relative;}
header{ width: 100%; height: 160px; background: #fff5b7;}
header h1{ text-align: center; padding-top: 16px;}
header h1 img{ padding-top: 10px; box-sizing: border-box;}
header form input{ width: 250px; height: 35px; border: 1px solid #ccc; background-color: #fff;}
header form>div{ position: absolute; top: 30px; left: 20px;}
header form i{ position: absolute; right: 5px; top: 10px; color: #c40317;}
header a.lang{ display: block; width: 25px; height: 23px; background: url(../images/icon_lang.png) no-repeat center center; position: absolute; right: 40px; top: 30px; text-indent: -9999px;}
header a.cart{ display: block; width: 25px; height: 23px; background: url(../images/icon_cart.png) no-repeat center center; position: absolute; right: 0; top: 30px; text-indent: -9999px;}
nav{ width: 100%;}
nav ul.gnb{ width: 90%; margin: 20px auto;}
nav ul.gnb> li{ width: 20%; float: left; position: relative; text-align: center;}
nav ul.gnb> li::after{ content: ''; display: block; width: 1px; height: 18px; background: #082841; position: absolute; right: 0; top: 30px;}
nav ul.gnb> li:last-child::after{ display: none;}
nav ul.gnb> li> a{ display: block; width: 100%; height: 70px; line-height: 70px; font-size: 18px; font-weight: 400; color: #082841; box-sizing: border-box; border-bottom: 4px solid transparent; font-family: 'GmarketSansMedium';}
nav ul.gnb> li:hover> a{ border-bottom: 2px solid #c40317; color: #c40317;}

nav ul.gnb> li ul.sub{ z-index: 99; background-color: #fff; width: 100%; height: 440px; position: absolute; left: 0; top: 70px; display: none;}  
nav ul.gnb> li ul.sub li{ width: 100%; height: 50px;}
nav ul.gnb> li ul.sub li a{ display: block; width: 100%; height: 100%;  line-height: 50px; transition: all .4s;}
nav ul.gnb> li ul.sub li a:hover{ background-color: #f0f0f0;}

/* main_Visual */
.main_Visual{ width: 100%; height: 530px; background: #ccc; position: relative;}
.main_Visual ul.slide{ width: 100%; height: 530px;}
.main_Visual ul.slide li{ width: 100%; height: 530px; background: url(../images/sldie3.png) no-repeat center center; position: absolute; left: 0; top: 0;}
.main_Visual ul.slide li:nth-child(1){ background-image: url(../images/sldie3.png);}/* 백그라운드로 넣으면 li 에 넣은 백그라운드 센터센터 노리핏이 깨져서 백그라운드 이미지로 넣기 */
.main_Visual ul.slide li:nth-child(2){ background-image: url(../images/slide2.png);}
.main_Visual ul.slide li:nth-child(3){ background-image: url(../images/slide4.png);}
.main_Visual ul.slide li:nth-child(4){ background-image: url(../images/sldie.png);}
.main_Visual ul.slide li:nth-child(5){ background-image: url(../images/slide5.png);}
.main_Visual ul.slide li a{ display: block; width: 100%; height: 100%;}
.main_Visual .ltrt_btn{ font-size: 120px; color: #fff; cursor: pointer;}
.main_Visual .ltrt_btn .left_btn{ position: absolute; left: 100px; top: 50%; transform: translateY(-50%);}
.main_Visual .ltrt_btn .right_btn{position: absolute; right: 100px; top: 50%; transform: translateY(-50%);}
.main_Visual ul.pager{ position: absolute; left: 150px; bottom: 30px;}
.main_Visual ul.pager li{ width: 12px; height: 12px; background: #000; border-radius: 50%; margin: 5px; cursor: pointer; float: left;}
.main_Visual ul.pager li.active{ background: #cfee79;} 
.main_Visual .pause_play{ color: #000; font-size: 13px; position: absolute; left: 270px; bottom: 28px;}
.main_Visual .pause_play div{ float: left; margin: 5px; cursor: pointer;}

/* .contents1 */
.contents1{ padding-top: 20px; margin-bottom: 70px;}

/* sub 경영이념 */
.contents1 h3{ font-size: 30px; text-align: center; padding-top: 100px; font-family: 'GmarketSansMedium';}
.contents1 .container> a{ font-size: 15px; display: block; text-align: center; padding: 10px 0 15px 0;}
.contents1 .container> p{ display: block; font-size: 24px; padding-bottom: 45px; text-align: center;}
.contents1 .sub_banner{ width: 100%; height: 288px; margin-bottom: 40px;} 
.contents1 .sub_banner li{ width: 288px; height: 288px; margin-right: 16px; float: left;} 
.contents1 .sub_banner li:nth-child(1){ background-image: url(../images/vision1.png);} 
.contents1 .sub_banner li:nth-child(2){ background-image: url(../images/vision2.png);} 
.contents1 .sub_banner li:nth-child(3){ background-image: url(../images/vision3.png);} 
.contents1 .sub_banner li:nth-child(4){ margin-right: 0; background-image: url(../images/vision4.png);} 
.contents1 .sub_banner li a{ display: block; width: 100%; height: 100%; color: #fff; padding: 13px 0 0 20px; box-sizing: border-box; cursor: auto;}
.contents1 .sub_banner li a strong{ font-size: 28px; display: block; margin-top: 65px; font-family: 'GmarketSansBold'; letter-spacing: 3px;}
.contents1 .sub_banner li a p{ font-size: 20px; font-weight: 400; line-height: 1.5;}

/* ottugi_news 사업분야 */
.contents1 .ottugi_news{width: 100%; position: relative; box-sizing: border-box;}
.contents1 .ottugi_news> h3{ font-size: 30px; text-align: center; padding-bottom: 30px;}
.contents1 .ottugi_news .container{ position: relative; overflow: hidden; width: 1200px; height: 288px;}
.contents1 .ottugi_news ul{ position: absolute; left: 0; top: 0; width: 1800px;}
.contents1 .ottugi_news ul li{ width: 300px; height: 40px; float: left; text-align: center;}
.contents1 .ottugi_news ul li a{ display: block; width: 100%; height: 100%; }
.contents1 .ottugi_news ul li p{ width: 288px; height: 40px; line-height: 40px; font-size: 18px; color: #333; font-weight: 400; text-align: center; margin: 10px auto 40px auto; border-radius: 10px; background-color: #c7df85; padding-top: 0;}
.contents1 .ottugi_news .ltrt_btn{ font-size: 60px; color: #333; cursor: pointer;}
.contents1 .ottugi_news .ltrt_btn .left_btn{ position: absolute; left: 200px; top: 60%;}
.contents1 .ottugi_news .ltrt_btn .right_btn{position: absolute; right: 200px; top: 60%;}

/* event 이벤트 */
.contents1 .event { width: 100%; padding-top: 100px; float: left; }
.contents1 .event h3{ line-height: 1.6; font-size: 30px; padding-bottom: 30px;}
.contents1 .event .event_slide{ width: 100%; height: 450px; position: relative; background: #ccc; overflow: hidden;}
.contents1 .event .event_slide ul{ width: 200%; height: 300px; position: absolute; left: 0; top: 0;}
.contents1 .event .event_slide ul li{ float: left; }


/* section 빙그레 브렌드샵 */
section{ position: relative;}
section h2{ text-align: center; font-size: 30px; height: 36px;padding-top: 50px; color: #333; font-family:'GmarketSansMedium';}
section p{ text-align: center; font-size: 16px; color: #666; padding-top: 15px;}

/* fa_prodect 브랜드샵 카테고리 */
.fa_product{ width: 100%; height: 580px;}
.fa_product h3{ color: #333; font-size: 30px; text-align: center; padding-top: 50px; font-family: 'GmarketSansMedium';}
.fa_product p{ color: #333;}
.fa_product .fa_slide_wrap{ width: 100%; height: 330px; position: relative; padding-top: 20px;  overflow: hidden;}
.fa_product .fa_slide_wrap ul.fa_slide{ width: 400%; position: absolute; left: 0; top: 40px;}
.fa_product .fa_slide_wrap ul.fa_slide li{ position: relative; width: 230px; height: 310px; margin-left: 10px; background: #fff; box-sizing: border-box; border: 1px solid #ccc; border-radius: 10px; overflow: hidden; float: left; }
.fa_product .fa_slide_wrap ul.fa_slide li .card_img{ width: 230px; height: 310px; background: #fff; text-align: center; position: relative; }
.fa_product .fa_slide_wrap ul.fa_slide li .card_img::after{ content: ''; display: block; width: 100%; height: 199px; background: url(../images/up_list_bul.png) no-repeat center bottom; position: absolute; left: 0; top: 0;}
.fa_product .fa_slide_wrap ul.fa_slide li .card_img img{  width: auto; height: 198px; border-bottom: 1px solid #eee;}
.fa_product .fa_slide_wrap ul.fa_slide li .card_img strong{ display: block; font-size: 18px; padding: 18px; margin-bottom: 8px; color: #666; line-height: 1.4;}
.fa_product .fa_slide_wrap ul.fa_slide li .card_back{ position: absolute; top: 312px; left: 0; width: 100%; height: 100%; transition: all 0.6s;}
.fa_product .fa_slide_wrap ul.fa_slide li:hover .card_back{ top: 200px;}
.fa_product .fa_slide_wrap ul.fa_slide li .card_back a{ background: rgba(196, 3, 23,0.85) url(../images/more.png) no-repeat center; width: 100%; height: 120px; text-indent: -9999px; display: block; }
.fa_product .fa_lt_rt button{ background: transparent; cursor: pointer; position: absolute; top: 300px; border: 0;}
.fa_product .fa_lt_rt button i{ font-size: 50px;}
.fa_product .fa_lt_rt button.fa_lt{ left:  50%; top: 50%; margin-left: -700px;}
.fa_product .fa_lt_rt button.fa_rt{ right: 50%; top: 50%; margin-right: -700px;}

/* cookimg_story 인기상품 */
.cooking_story{ width: 100%; background: #fffee5; padding-bottom: 50px;}
.cooking_story .ck_slide_wrap{ width: 100%; height: 310px; padding-top: 40px;} 
.cooking_story .ck_slide_wrap ul.ck_slide{ width: 100%; overflow: hidden;}
.cooking_story .ck_slide_wrap ul.ck_slide li{ width: 230px; height: 310px; margin-left: 10px; background: #fff; box-sizing: border-box; border: 1px solid #ccc; float: left; position: relative;}

.cooking_story .ck_slide_wrap ul.ck_slide li .card_img{ width: 228px; height: 308px; background: #fff; text-align: center; position: relative; box-sizing: border-box; padding: 0 10px;}
.cooking_story .ck_slide_wrap ul.ck_slide li .card_img img{ border-bottom: 1px solid #eee;}
.cooking_story .ck_slide_wrap ul.ck_slide li .card_img::after{ content: ''; display: block; width: 100%; height: 181px;background: url(../images/up_list_bul.png) no-repeat center bottom; position: absolute; left: 0; top: 0px;}
.cooking_story .ck_slide_wrap ul.ck_slide li .card_img strong{ display: block; padding: 18px; font-size: 18px; margin-bottom: 8px; color: #333;}
.cooking_story .ck_slide_wrap ul.ck_slide li .card_img span{ font-size: 14px; display: block; text-align: right; line-height: 1.3; color: #666;}


/* ottugi_sns 소식 */
.ottogi_sns{ padding: 60px 0 160px 0;}
.ottogi_sns ul.tab_menu{ width: 100%; height: 50px; line-height: 50px; margin-top: 60px; background: #ebeff2; }
.ottogi_sns ul.tab_menu li{ width: 50%; height: 50px; font-size: 16px; color: #333; text-align: center; cursor: pointer; float: left;}
.ottogi_sns ul.tab_menu li.on{ background: #c7df85; font-weight: bold;}

.ottogi_sns ul.tab_con{ width: 100%; height: 320px; position: relative;}
.ottogi_sns ul.tab_con>li{ position: absolute; left: 0; top: 0; display: none;}
.ottogi_sns ul.tab_con>li.on{ display: block;}
.ottogi_sns ul.tab_con>li>ul{margin-top: 40px; }
.ottogi_sns ul.tab_con>li>ul>li{ width: 288px; margin-right: 16px; float: left; font-size: 15px; line-height: 2; font-weight: 300; color: #444;}
.ottogi_sns ul.tab_con>li>ul>li:last-child{ margin-right: 0;}
.ottogi_sns ul.tab_con>li>ul>li iframe{ width: 100%;}


/* footer */
footer{ width: 100%; }
footer .f_top{ width: 100%; height: 60px; line-height: 60px; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; background: #f7f7f7;}
footer .f_top ul.f_menu{ float: left;}
footer .f_top ul.f_menu li{ float: left; font-size: 16px; font-weight: 300; padding: 0 15px;} /* 자식부모 다 플롯이면 클리어픽스 안줘도 되고 부모에 높이가 있어도 안줘도 됨 */
footer .f_top ul.f_menu li:nth-child(1){ padding-left: 0; font-weight: 700;}
footer .f_top ul.sns{ float: right;}
footer .f_top ul.sns li{ float: left; margin-left: 10px;}
footer .f_top ul.sns li img{ vertical-align: middle;}

footer .f_bottom{ width: 100%; height: 120px; padding: 20px 0;}
footer .f_bottom .fb_left{ float: left; padding: 15px 5px 0 0;}
footer .f_bottom .fb_right{ float: left; width: 1020px; position: relative;}
footer .f_bottom .fb_right ul{ font-size: 14px; font-weight: 400; color: #333; margin-top: 12px;}
footer .f_bottom .fb_right ul li{ float: left; margin-bottom: 12px; padding: 0 10px; border-right: 1px solid #333;}
footer .f_bottom .fb_right ul li:last-child{ border-right: 0;}
footer .f_bottom .fb_right .cl{ clear: both;}
footer .f_bottom .fb_right p{ padding-left: 12px; font-size: 13px; font-weight: 300;}
footer .f_bottom .fb_right .wa_mark{ position: absolute; right: 10px; top: 20px;}

